# Dependency directories
node_modules/
public/node_modules/

# Build directories
build/
public/build/

# Environment variables
.env

# VS Code/Visual Studio settings
.vscode/
.vs/

# System files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
